extends ../layout

block style
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  link(rel='stylesheet', media='all', type='text/css' href=`${basePath}/css/theme-${defaultTheme}.css`) 
  link(rel='stylesheet', media='print', type='text/css' href=`${basePath}/css/theme-${defaultTheme}.print.css`) 
=======
=======
>>>>>>> fad8fee... ME: change apostrophes
  link(rel='stylesheet', media='all', type='text/css' href=`${basePath}/css/theme-${defaultTheme}.css`)
  link(rel='stylesheet', media='print', type='text/css' href=`${basePath}/css/theme-${defaultTheme}.print.css`)
=======
  link(rel='stylesheet', media='all', type='text/css' href='#{basePath}/css/theme-#{defaultTheme}.css') 
  link(rel='stylesheet', media='print', type='text/css' href='#{basePath}/css/theme-#{defaultTheme}.print.css')
>>>>>>> 10f55f2... ME: fixed css jade error
  if customCss
    link(rel='stylesheet', media='all', type='text/css' href=`#{basePath}/css/#{customCss}.css`)

>>>>>>> 8393891... ME: changed apostrophes for customCss block

=======
  link(rel='stylesheet', media='all', type='text/css' href='#{basePath}/css/theme-#{defaultTheme}.css') 
  link(rel='stylesheet', media='print', type='text/css' href=#{basePath}'/css/theme-#{defaultTheme}.print.css')
  if customCss
    link(rel='stylesheet', media='all', type='text/css' href='#{basePath}/css/#{customCss}.css')
>>>>>>> bc8e021... ME: create custom css variable and loading if it exists

block script
  - var suffix = (type && type !== 'preview' && type !== 'single') ? '-' + type : ''
  if environment == 'production'
    script(src=`${basePath}/js/enketo-webform${suffix}-bundle.min.js`)
  else
    script(src=`${basePath}/js/enketo-webform${suffix}-dev-bundle.js`)
 
block content
  include component/_notification
  .main
    article.paper
      include component/_form-header
      | !{form}
      unless form
        .form__loader
          .form__loader__image
      include component/_form-footer
  if manifest
    include component/_side-slider
  include component/_feedback-bar
